version: '3.8'

services:
  vscode:
    build: .
    env_file:
      - .env
    container_name: ${COMPOSE_PROJECT_NAME}_vscode-server
    ports:
      - "${PORT}:8080"
    volumes:
          - app_data:/home/coder/.local/share/code-server
          - ./projects:/home/coder/projects
    restart: unless-stopped

volumes:
  app_data:
    name: ${COMPOSE_PROJECT_NAME}_data
